In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./results_distances.csv')

In [4]:
# Cargar localidades
import geopandas as gpd
import shapely

localidades = gpd.read_file('./localidades/localidades.geojson').rename({'NOM_ENTI': 'Localidad'},axis = 1)
barrios = gpd.read_file('./localidades/barrios_badata.shp').to_crs({'init': 'epsg:4326'}).rename({'WKT': 'geometry', 'BARRIO': 'Localidad'},axis = 1)

localidades = pd.concat([localidades, barrios]).dropna(axis = 1).reset_index().rename({'index': 'index_l'}, axis = 1)
localidades['Centroid'] = [(P.y, P.x) for P in localidades['geometry'].centroid]

partidos = gpd.read_file('./localidades/partidos.shp')['geometry'].to_crs({'init': 'epsg:4326'})

/home/miglesia/anaconda2/lib/python2.7/site-packages/IPython/kernel/__main__.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [9]:
# df[['coords_x']]
# coor_to_nbr(-73.9868805930018, 40.7697167683218, NY_nbr_shpfile)

                                         coords_x
0               (-34.907574, -57.963809999999995)
1               (-34.925977, -57.946743999999995)
2               (-34.925977, -57.946743999999995)
3                (-34.953944, -57.97294399999999)
4                (-34.953944, -57.97294399999999)
5               (-34.869318, -58.048655000000004)
6                        (-34.892841, -57.962711)
7                 (-34.88776, -58.12574300000001)
8                        (-34.915826, -57.953888)
9                        (-34.915826, -57.953888)
10              (-34.999515, -58.047517000000006)
11              (-34.999515, -58.047517000000006)
12              (-34.999515, -58.047517000000006)
13     (-34.911834000000006, -57.993092000000004)
14     (-34.911834000000006, -57.993092000000004)
15              (-34.878049, -58.022178000000004)
16               (-34.92832, -57.966443999999996)
17               (-34.92832, -57.966443999999996)
18                       (-34.874742, -58.057613)
19                       (-34.969537, -57.983227)
20                       (-34.969537, -57.983227)
21                       (-34.919933, -58.015273)
22                       (-34.919933, -58.015273)
23                       (-34.919961, -57.935765)
24                       (-34.912278, -57.975258)
25              (-34.853349, -58.074543000000006)
26                       (-34.908362, -57.948372)
27              (-34.922297, -57.956903000000004)
28              (-34.922297, -57.956903000000004)
29                       (-34.916296, -57.941768)
...                                           ...
76489       (-34.6284217714, -58.464583806499995)
76490       (-34.6284217714, -58.464583806499995)
76491       (-34.6284217714, -58.464583806499995)
76492            (-34.6439702546, -58.4361103389)
76493       (-34.648299978699995, -58.4471576692)
76494       (-34.6304386931, -58.459428511700004)
76495            (-34.6419349158, -58.4698419297)
76496            (-34.6517308668, -58.5046556703)
76497       (-34.6612510802, -58.490651602700005)
76498       (-34.6450641656, -58.498189719399996)
76499       (-34.650188112600006, -58.4786526967)
76500            (-34.6538284594, -58.4996462432)
76501            (-34.6378835453, -58.5280378696)
76502            (-34.6378835453, -58.5280378696)
76503       (-34.6498245708, -58.511293110100006)
76504            (-34.6583331314, -58.5146419432)
76505       (-34.6535678584, -58.518485211800005)
76506            (-34.6551233971, -58.5079809806)
76507       (-34.6572234216, -58.518543298199994)
76508       (-34.6426692788, -58.520200181099995)
76509       (-34.6426692788, -58.520200181099995)
76510       (-34.6426692788, -58.520200181099995)
76511       (-34.6621165063, -58.506841665100005)
76512            (-34.6680716005, -58.5070539528)
76513       (-34.6698036042, -58.502763530500005)
76514       (-34.6549321531, -58.526095544200004)
76515       (-34.634462578400004, -58.5212938118)
76516       (-34.634462578400004, -58.5212938118)
76517       (-34.634462578400004, -58.5212938118)
76518       (-34.634462578400004, -58.5212938118)

[76519 rows x 1 columns]