In [24]:
import pandas as pd
pd.options.display.max_columns = 99
import numpy as np

In [130]:
# # Como se deben importar los cuadros del anuario estadistico universitario:

# df = pd.read_csv('./cuadro_2.1.4.a.csv', header = [0, 1], index_col=0, thousands='.')
df = pd.read_csv('./cuadro_2.1.5.csv', header = [0, 1], index_col=0, thousands='.')['Grupos de edad']
df.div(df.sum(1), 0).round(2).head()
# Como son los perfiles etarios?

Institución                      <19  20-24  25-29   >30
Total de las instituciones      0.38   0.32   0.12  0.17
Total Universidades Nacionales  0.39   0.32   0.12  0.17
Arturo Jauretche                0.18   0.31   0.19  0.32
Avellaneda                      0.06   0.18   0.16  0.60
Buenos Aires                    0.56   0.28   0.08  0.08

### Estudiantes, Nuevos Inscriptos y egresador por carrera

In [111]:
df1 = pd.read_csv('./cuadro_2.1.10.csv', header = [0, 1, 2], index_col=0, thousands='.')
df2 = pd.read_csv('./cuadro_2.1.11.csv', header = [0, 1, 2], index_col=0, thousands='.')
df3 = pd.read_csv('./cuadro_2.1.12.csv', header = [0, 1, 2], index_col=0, thousands='.')
df4 = pd.read_csv('./cuadro_2.1.13.csv', header = [0, 1, 2], index_col=0, thousands='.')
df5 = pd.read_csv('./cuadro_2.1.14.csv', header = [0, 1, 2], index_col=0, thousands='.')

# Concatenarlos (ubicarlos uno tras otro horizontalmente)
df = pd.concat([df1, df2, df3, df4, df5], axis = 1, sort = False)

# Remover filas de totales
df = df.loc[[i for i in df.index if 'Total' not in i]]

### Regimen (estatal/privado) de las instituciones

In [135]:

df_ = pd.read_csv('./cuadro_1.1.20.csv', header = [0, 1], index_col=0, thousands='.')
dfA = pd.read_csv('./cuadro_1.2.1.a.csv', header = [0, 1], index_col=0)
dfB = pd.read_csv('./cuadro_1.2.1.b.csv', header = [0, 1], index_col=0)

dfA = dfA.T.loc[dfA.columns.get_level_values(1) == 'Abs.'].T#.loc[]
dfA.columns = dfA.columns.droplevel(1)
dfA = dfA.loc[[i for i in dfA.index if 'Total' not in i]]

dfB = dfB.T.loc[dfB.columns.get_level_values(1) == 'Abs.'].T#.loc[]
dfB.columns = dfB.columns.droplevel(1)
dfB = dfB.loc[[i for i in dfB.index if 'Total' not in i]]

                     Total Rama                 Ciencias Aplicadas         \
Región y régimen            EST      NI    EGRE                EST     NI
Total                   1830743  425650  117719             443304  92588
Total Estatal           1437611  315593   80343             382193  77001
Total Privado            393132  110057   37376              61111  15587
Región Bonaerense        209001   44012   12064              66206  12371
Estatal                  184849   37448   10513              61830  11103
Privado                   24152    6564    1551               4376   1268
Región CentroEste        198531   45042   18248              50665   9855
Estatal                  166403   37758   14956              48074   9298
Privado                   32128    7284    3292               2591    557
Región CentroOeste       346997   88452   23099              84927  18875
Estatal                  246052   54484   14948              71748  14939
Privado                  100945   33968    8151              13179   3936
Región Metropolitana     724282  161811   49045             159301  31870
Estatal                  540485  111978   27942             125021  23701
Privado                  183797   49833   21103              34280   8169
Región Noreste           100069   25422    5140              22369   4842
Estatal                   88678   22628    4391              21028   4561
Privado                   11391    2794     749               1341    281
Región Noroeste          179233   37931    7550              42879   8760
Estatal                  140691   28980    5163              38030   7501
Privado                   38542    8951    2387               4849   1259
Región Sur                72630   22980    2573              16957   6015
Estatal                   70453   22317    2430              16462   5898
Privado                    2177     663     143                495    117

                            Ciencias Básicas                   \
Región y régimen       EGRE              EST       NI    EGRE
Total                 23103          56044.0  13612.0  2908.0
Total Estatal         18194          52730.0  12670.0  2690.0
Total Privado          4909           3314.0    942.0   218.0
Región Bonaerense      3297           8897.0   2301.0   500.0
Estatal                3074           8797.0   2273.0   493.0
Privado                 223            100.0     28.0     7.0
Región CentroEste      3396           4353.0   1102.0   438.0
Estatal                3069           3972.0   1043.0   412.0
Privado                 327            381.0     59.0    26.0
Región CentroOeste     4994           9012.0   2499.0   804.0
Estatal                4023           8239.0   2194.0   777.0
Privado                 971            773.0    305.0    27.0
Región Metropolitana   8233          14767.0   2685.0   571.0
Estatal                5283          12719.0   2135.0   419.0
Privado                2950           2048.0    550.0   152.0
Región Noreste         1079           6454.0   1502.0   181.0
Estatal                1041           6454.0   1502.0   181.0
Privado                  38              NaN      NaN     NaN
Región Noroeste        1531           8097.0   2052.0   256.0
Estatal                1150           8085.0   2052.0   250.0
Privado                 381             12.0      0.0     6.0
Región Sur              573           4464.0   1471.0   158.0
Estatal                 554           4464.0   1471.0   158.0
Privado                  19              NaN      NaN     NaN

                     Ciencias de la Salud                   Ciencias Humanas  \
Región y régimen                      EST       NI     EGRE              EST
Total                            254470.0  62662.0  21391.0           322215
Total Estatal                    198758.0  46617.0  14249.0           265098
Total Privado                     55712.0  16045.0   7142.0            57117
Región Bonaerense                 24668.0   4573.0   2036.0            31984
Estatal                           20388.0   3538.0   1771.0            27920
Privado                            4280.0   1035.0    265.0             4064
Región CentroEste                 40319.0   9689.0   3903.0            35462
Estatal                           32245.0   7707.0   3232.0            29160
Privado                            8074.0   1982.0    671.0             6302
Región CentroOeste                40218.0   9588.0   3965.0            61895
Estatal                           30902.0   7685.0   2921.0            53492
Privado                            9316.0   1903.0   1044.0             8403
Región Metropolitana             105696.0  28703.0   8994.0           126764
Estatal                           74349.0  18285.0   4023.0            97076
Privado                           31347.0  10418.0   4971.0            29688
Región Noreste                    14386.0   3992.0    909.0            13426
Estatal                           13215.0   3610.0    834.0            10582
Privado                            1171.0    382.0     75.0             2844
Región Noroeste                   20353.0   3335.0   1052.0            36181
Estatal                           18829.0   3010.0    936.0            31444
Privado                            1524.0    325.0    116.0             4737
Región Sur                         8830.0   2782.0    532.0            16503
Estatal                            8830.0   2782.0    532.0            15424
Privado                               NaN      NaN      NaN             1079

                                   Ciencias Sociales                Sin Rama  \
Región y régimen         NI   EGRE               EST      NI   EGRE      EST
Total                 81705  16781            744509  168877  53526  10201.0
Total Estatal         65735  10282            530363  108343  34926   8469.0
Total Privado         15970   6499            214146   60534  18600   1732.0
Región Bonaerense      7963   1283             76568   16515   4946    678.0
Estatal                6584    969             65607   13888   4204    307.0
Privado                1379    314             10961    2627    742    371.0
Región CentroEste      9879   1802             64561   12482   8709   3171.0
Estatal                8105    879             49781    9570   7364   3171.0
Privado                1774    923             14780    2912   1345      NaN
Región CentroOeste    15905   2954            146503   38984  10382   4442.0
Estatal               13301   2132             77229   13764   5095   4442.0
Privado                2604    822             69274   25220   5287      NaN
Región Metropolitana  29865   7933            315844   67407  23306   1910.0
Estatal               22017   4077            230771   45311  14140    549.0
Privado                7848   3856             85073   22096   9166   1361.0
Región Noreste         3927    561             43434   11159   2410      NaN
Estatal                3160    363             37399    9795   1972      NaN
Privado                 767    198              6035    1364    438      NaN
Región Noroeste        9080   1648             71723   14704   3063      NaN
Estatal                7758   1354             44303    8659   1473      NaN
Privado                1322    294             27420    6045   1590      NaN
Región Sur             5086    600             25876    7626    710      NaN
Estatal                4810    508             25273    7356    678      NaN
Privado                 276     92               603     270     32      NaN


Región y régimen          NI  EGRE
Total                 6206.0  10.0
Total Estatal         5227.0   2.0
Total Privado          979.0   8.0
Región Bonaerense      289.0   2.0
Estatal                 62.0   2.0
Privado                227.0   0.0
Región CentroEste     2035.0   0.0
Estatal               2035.0   0.0
Privado                  NaN   NaN
Región CentroOeste    2601.0   0.0
Estatal               2601.0   0.0
Privado                  NaN   NaN
Región Metropolitana  1281.0   8.0
Estatal                529.0   0.0
Privado                752.0   8.0
Región Noreste           NaN   NaN
Estatal                  NaN   NaN
Privado                  NaN   NaN
Región Noroeste          NaN   NaN
Estatal                  NaN   NaN
Privado                  NaN   NaN
Región Sur               NaN   NaN
Estatal                  NaN   NaN
Privado                  NaN   NaN

#### De paso obtenemos instituciones por ambito

In [148]:
institucionesA = pd.DataFrame(dfA.index, columns= ['Institución'])
institucionesA['regimen'] = 'Estatal'

institucionesB = pd.DataFrame(dfB.index, columns= ['Institución'])
institucionesB['regimen'] = 'Privado'

instituciones = pd.concat([institucionesA, institucionesB]).sort_values(by = 'Institución').reset_index(drop = True)
instituciones.to_csv('./instituciones_noreg.csv', index = False)

instituciones.head()

                 Institución  regimen
0     Abierta Interamericana  Privado
1                  Aconcagua  Privado
2       Adventista del Plata  Privado
3                Aeronáutico  Estatal
4  Argentina John F. Kennedy  Privado

## Evolucion anual

In [146]:
# Estos cuadros tienen la evol. temporal pero cuenta por separado ingresos, egresos y estudiantes.
# Vamos a juntarlos

df_est = pd.read_csv('./cuadro_2.1.1.csv', header = [0, 1], index_col=0, thousands='.')
df_ni = pd.read_csv('./cuadro_2.1.2.csv', header = [0, 1], index_col=0, thousands='.')
df_egr = pd.read_csv('./cuadro_2.1.3.csv', header = [0, 1], index_col=0, thousands='.')

pd.DataFrame(pd.concat([df_est, df_ni, df_egr], axis = 1, sort = True).stack())

                                    Egresados  Estudiantes  Nuevos Inscriptos
                       Institución
Aeronáutico            2003             337.0       6038.0             2371.0
                       2004             313.0       5589.0             1504.0
                       2005             352.0       5665.0             1481.0
                       2006             389.0       5800.0             1422.0
                       2007             512.0       6957.0             2097.0
                       2008             919.0       7060.0             1704.0
                       2009             752.0       6945.0             1655.0
                       2010             615.0       6926.0             1387.0
                       2011             672.0       6491.0             1112.0
                       2012             872.0       6174.0             1070.0
                       2013             977.0       5616.0              889.0
Arturo Jauretche       2011               NaN       3049.0             3049.0
                       2012               NaN       5392.0             3882.0
                       2013               NaN       7824.0             3982.0
Autónoma de Entre Ríos 2004             170.0          NaN                NaN
                       2005             170.0       7880.0             3595.0
                       2006             555.0      12244.0             4981.0
                       2007             852.0      13191.0             4861.0
                       2008             993.0      13889.0             5097.0
                       2009             797.0      15877.0             5161.0
                       2010             734.0      18019.0             6370.0
                       2011             707.0      19269.0             6727.0
                       2012             646.0      19627.0             6057.0
                       2013             801.0      20057.0             5797.0
Avellaneda             2011               NaN        641.0              641.0
                       2012               NaN       3807.0             3367.0
                       2013              54.0       4523.0             1957.0
Buenos Aires           2003           14420.0     324068.0            70512.0
                       2004           15631.0     336947.0            68596.0
                       2005           16911.0     346513.0            61053.0
...                                       ...          ...                ...
Tres de Febrero        2007             144.0       6840.0             3379.0
                       2008             110.0       7877.0             3457.0
                       2009             268.0       8714.0             4352.0
                       2010             242.0      10317.0             5160.0
                       2011             251.0      11458.0             5533.0
                       2012             233.0      12208.0             5960.0
                       2013             490.0      12451.0             5703.0
Tucumán                2003            2236.0      57809.0            14308.0
                       2004            2242.0      63291.0            16889.0
                       2005            2182.0      60514.0            13638.0
                       2006            2181.0      62872.0            14560.0
                       2007            2134.0      59653.0            12601.0
                       2008            2007.0      60206.0            12147.0
                       2009            1966.0      60648.0            12224.0
                       2010            1895.0      61855.0            13074.0
                       2011            1791.0      61861.0            12279.0
                       2012            2252.0      61632.0            11238.0
                       2013            2452.0      63524.0            11399.0
Villa María            2003             106.0       3078.0              867.0
                       2004              79.0       2427.0              674.0
                       2005              79.0       2545.0              676.0
                       2006              99.0       2709.0             1069.0
                       2007             127.0       2846.0             1112.0
                       2008             142.0       2886.0             1037.0
                       2009             139.0       4099.0             1544.0
                       2010             159.0       4067.0             1569.0
                       2011             182.0       5042.0             1793.0
                       2012             197.0       6043.0             2163.0
                       2013             240.0       5798.0             2327.0
Villa Mercedes         2013               NaN        879.0              879.0

[592 rows x 3 columns]