In [84]:
import pandas as pd
import string
letters = string.ascii_uppercase

pd.options.display.max_columns = 99

In [122]:
import numpy as np
np.arange(19)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18])

In [155]:
for i in [ 0,  1,  2,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18]:
    print(i)
    filename = './raw_tabula/tabula-Anuario_2013('+str(i)+')'
    df = pd.read_csv(filename+'.csv', header = None, dtype = str).fillna('-')
    display(df.head())
    
    df_data = df.iloc[1:].reset_index(drop = True)
    df_data.columns = df_data.columns.astype(str).str.zfill(2)

    white_space_count = df_data.apply(lambda x: x.str.count(' ')).mean().round().astype(int).iloc[1:]
    cols_to_fix = white_space_count.loc[white_space_count > 0].reset_index()
    cols_to_fix.columns = ['col', 'n']

    df_fixed_col_list = []
    for i, row in cols_to_fix.iterrows():    
        col = row.col
        n = row.n
        colnames = [col+L for L in letters]
        try:
            df_fixed_col = pd.DataFrame(df_data[col].str.split(' ').tolist(),
                                           columns = colnames[:n + 1])
            df_fixed_col_list += [df_fixed_col]
        except:
            print('Could not parse column '+col+' in dataset '+str(i))

    try:
        df_fixed = pd.concat(df_fixed_col_list, axis = 1)   
        result = pd.concat([df_data, df_fixed], 1).drop(cols_to_fix.col.values, 1)
        result = result.sort_index(1)

        header = df.iloc[0].reset_index(); header.columns = ['col', 'name']
        header['col'] = header['col'].astype(str).str.zfill(2)
        header_names = header.set_index('col').to_dict()['name']

        result.columns = pd.Series([s[:2] for s in result.columns]).map(header_names)
#         display(result.head())
        result.to_csv(filename+'_sist_reparse.csv')
    except:
        pass

0

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Región y régimen,-,Total Rama,-,Ciencias Aplicadas,Ciencias Básicas,Ciencias de la Salud,RamaCiencias Humanas,-,Ciencias Sociales,-,Sin Rama,-
1,-,EST,NI,EGRE,EST NI EGRE,EST NI EGRE,EST NI EGRE,EST,NI EGRE,EST NI EGRE,EST,NI,EGRE
2,Total,1.830.743,425.650,117.719,443.304 92.588 23.103,56.044 13.612 2.908,254.470 62.662 21.391,322.215,81.705 16.781,744.509 168.877 53.526,10.201,6.206,10
3,Total Estatal,1.437.611,315.593,80.343,382.193 77.001 18.194,52.730 12.670 2.690,198.758 46.617 14.249,265.098,65.735 10.282,530.363 108.343 34.926,8.469,5.227,2
4,Total Privado,393.132,110.057,37.376,61.111 15.587 4.909,3.314 942 218,55.712 16.045 7.142,57.117,15.970 6.499,214.146 60.534 18.600,1.732,979,8

,Región y régimen,-,Total Rama,-,Ciencias Aplicadas,Ciencias Aplicadas,Ciencias Aplicadas,Ciencias Básicas,Ciencias Básicas,Ciencias Básicas,Ciencias de la Salud,Ciencias de la Salud,Ciencias de la Salud,RamaCiencias Humanas,-,-,Ciencias Sociales,Ciencias Sociales,Ciencias Sociales,-,Sin Rama,-
0,-,EST,NI,EGRE,EST,NI,EGRE,EST,NI,EGRE,EST,NI,EGRE,EST,NI,EGRE,EST,NI,EGRE,EST,NI,EGRE
1,Total,1.830.743,425.650,117.719,443.304,92.588,23.103,56.044,13.612,2.908,254.470,62.662,21.391,322.215,81.705,16.781,744.509,168.877,53.526,10.201,6.206,10
2,Total Estatal,1.437.611,315.593,80.343,382.193,77.001,18.194,52.730,12.670,2.690,198.758,46.617,14.249,265.098,65.735,10.282,530.363,108.343,34.926,8.469,5.227,2
3,Total Privado,393.132,110.057,37.376,61.111,15.587,4.909,3.314,942,218,55.712,16.045,7.142,57.117,15.970,6.499,214.146,60.534,18.600,1.732,979,8
4,Región Bonaerense,209.001,44.012,12.064,66.206,12.371,3.297,8.897,2.301,500,24.668,4.573,2.036,31.984,7.963,1.283,76.568,16.515,4.946,678,289,2

1

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-,Estudiantes (EST) Nuevos Inscriptos (NI),Reinscriptos (RI),Egresados (EGRE),%,%,% %,%,%,-,% de RI con 2,% Estudiantes,Tasa promedio de
1,Institución,de estudiantesAbs. % Abs. %,Abs. %,Abs. %,Mujeres Estudiantes,Mujeres Inscriptos Nuevos,Reinscriptos Egresados Hasta 19 20 a 24 Mujere...,de NI años,de RI años,-,o más materias año informado aprobadas el,que son Inscriptos Nuevos,crecimiento anual2003-2013
2,Total de las instituciones,"1.437.611 100 315.593 100,0 1.122.018",100,80.343 100,"57,5","57,5","57,5 61,3","37,8","41,5",-,"64,3","22,0","0,9"
3,Total Universidades Nacionales,"1.388.587 96,6 301.841 95,6 1.086.746","96,9","76.923 95,7","57,5","57,5","57,4 62,0","38,7","41,9",-,"64,5","21,7","0,9"
4,Arturo Jauretche,"7.824 0,5 3.982 1,3","3.842 0,3",0,"62,0","63,5","60,5","- 18,5","38,2",-,"36,6","50,9",60

Could not parse column 01 in dataset 0
Could not parse column 06 in dataset 3

,-,Reinscriptos (RI),Reinscriptos (RI),Egresados (EGRE),Egresados (EGRE),%,%,%,%,-,% de RI con 2,% Estudiantes,Tasa promedio de
0,Institución,Abs.,%,Abs.,%,Mujeres Estudiantes,Mujeres Inscriptos Nuevos,de NI años,de RI años,-,o más materias año informado aprobadas el,que son Inscriptos Nuevos,crecimiento anual2003-2013
1,Total de las instituciones,100,None,80.343,100,"57,5","57,5","37,8","41,5",-,"64,3","22,0","0,9"
2,Total Universidades Nacionales,"96,9",None,76.923,"95,7","57,5","57,5","38,7","41,9",-,"64,5","21,7","0,9"
3,Arturo Jauretche,3.842,"0,3",0,None,"62,0","63,5","- 18,5","38,2",-,"36,6","50,9",60
4,Avellaneda,2.566,"0,2",54,"0,1","56,4","65,3","5,5","31,3",-,"45,0","43,3",166

2

,0,1,2,3,4,5,6,7,8,9,10,11
0,-,Estudiantes,Nuevos,Reinscriptos,Egresados,% %,%,%,-,% de NI % de RI % de RI con 2 o más % Estudiantes,-,Tasa promedio de
1,Institución,(EST),Inscriptos (NI),(RI),(EGRE),Mujeres Mujeres Nuevos,Mujeres,Mujeres,-,Hasta 19 20 a 24,materias aprobadas el año que sonNuevos,crecimiento anual de
2,-,Abs. %,Abs. %,Abs. %,Abs. %,Estudiantes Inscriptos Reinscriptos Egresados,-,-,-,años(1) años(1),informado (2) Inscriptos,estudiantes 2003-2013
3,Total de las Instituciones,393.132 100,"110.057 100,0",283.075 100,37.376 100,"56,6 56,1","56,8","63,2",-,"25,6 41,8","61,4 28,0","6,2"
4,Total Universidades Privadas,"380.615 96,8","106.208 96,5","274.407 96,9","36.329 97,2","56,7 56,1","56,9","63,5",-,"25,5 41,3","61,4 27,9","6,1"

Could not parse column 05 in dataset 4
Could not parse column 09 in dataset 5
Could not parse column 10 in dataset 6

,-,Estudiantes,Estudiantes,Nuevos,Nuevos,Reinscriptos,Reinscriptos,Egresados,Egresados,%,%,-,Tasa promedio de
0,Institución,(EST),None,Inscriptos,(NI),(RI),None,(EGRE),None,Mujeres,Mujeres,-,crecimiento anual de
1,-,Abs.,%,Abs.,%,Abs.,%,Abs.,%,-,-,-,estudiantes 2003-2013
2,Total de las Instituciones,393.132,100,110.057,"100,0",283.075,100,37.376,100,"56,8","63,2",-,"6,2"
3,Total Universidades Privadas,380.615,"96,8",106.208,"96,5",274.407,"96,9",36.329,"97,2","56,9","63,5",-,"6,1"
4,Abierta Interamericana,20.464,"5,2",5.766,"5,2",14.698,"5,2",2.790,"7,5","54,7","59,4",-,"2,9"

5

,0,1,2,3,4,5,6,7,8,9,10
0,-,-,Estudiantes,-,Nuevos Inscriptos,-,Reinscriptos,-,-,Egresados,-
1,Institución,Total,Mujeres,Varones,Total Mujeres Varones,Total,Mujeres,Varones,Total,Mujeres,Varones
2,Total de las instituciones,1.437.611,826.768,610.843,315.593 181.559 134.034,1.122.018,645.209,476.809,80.343,49.261,31.082
3,Total Universidades Nacionales,1.388.587,797.826,590.761,301.841 173.691 128.150,1.086.746,624.135,462.611,76.923,47.658,29.265
4,Arturo Jauretche,7.824,4.854,2.970,3.982 2.530 1.452,3.842,2.324,1.518,-,-,-

,-,-,Estudiantes,-,Nuevos Inscriptos,Nuevos Inscriptos,Nuevos Inscriptos,-,Reinscriptos,-,-,Egresados,-
0,Institución,Total,Mujeres,Varones,Total,Mujeres,Varones,Total,Mujeres,Varones,Total,Mujeres,Varones
1,Total de las instituciones,1.437.611,826.768,610.843,315.593,181.559,134.034,1.122.018,645.209,476.809,80.343,49.261,31.082
2,Total Universidades Nacionales,1.388.587,797.826,590.761,301.841,173.691,128.150,1.086.746,624.135,462.611,76.923,47.658,29.265
3,Arturo Jauretche,7.824,4.854,2.970,3.982,2.530,1.452,3.842,2.324,1.518,-,-,-
4,Avellaneda,4.523,2.553,1.970,1.957,1.278,679,2.566,1.275,1.291,54,40,14

6

,0,1,2,3,4,5,6,7,8,9,10
0,-,-,-,-,-,Nuevos Inscriptos,-,-,-,-,-
1,Institución,2003,2004,2005,2006,2007 2008 2009,2010,2011,2012,2013,Tasa promedio crecimiento anual
2,Total de las instituciones,302.226,299.008,283.866,272.617,272.608 271.428 290.137,314.614,307.894,315.138,315.593,"0,4"
3,Total Universidades Nacionales,291.712,289.537,270.582,257.577,256.900 256.164 276.104,298.483,292.662,302.135,301.841,"0,3"
4,Arturo Jauretche,-,-,-,-,- - -,-,3.049,3.882,3.982,"14,3"

,-,-,-,-,-,Nuevos Inscriptos,Nuevos Inscriptos,Nuevos Inscriptos,-,-,-,-,-
0,Institución,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Tasa promedio crecimiento anual
1,Total de las instituciones,302.226,299.008,283.866,272.617,272.608,271.428,290.137,314.614,307.894,315.138,315.593,"0,4"
2,Total Universidades Nacionales,291.712,289.537,270.582,257.577,256.900,256.164,276.104,298.483,292.662,302.135,301.841,"0,3"
3,Arturo Jauretche,-,-,-,-,-,-,-,-,3.049,3.882,3.982,"14,3"
4,Avellaneda,-,-,-,-,-,-,-,-,641,3.367,1.957,"74,7"

7

,0,1,2,3,4,5,6,7
0,-,-,-,Grupos de edad(2),-,-,Grupos de edad(2) %,-
1,Institución,Total,-,-,-,-,-,-
2,-,-,Hasta 19,20 a 24 25 a 29,30 y más,Hasta 19,20 a 24 25 a 29,30 y más
3,Total de las instituciones,315.593,119.447,99.794 38.667,53.820,"37,8","31,6 12,3","17,1"
4,Total Universidades Nacionales,301.841,116.845,95.647 37.263,52.086,"38,7","31,7 12,3","17,3"

Could not parse column 03 in dataset 0
Could not parse column 06 in dataset 1
8

,0,1,2,3,4,5,6
0,-,-,-,-,Cantidad de Materias Aprobadas (2),-,-
1,Institución,Total,-,-,-,-,-
2,-,-,0,1,2 3 4,5,6 o más
3,Total de las instituciones,1.122.018,383.386,171.260,139.383 110.392 90.329,69.445,157.823
4,Total Universidades Nacionales,1.086.746,373.549,165.780,135.724 107.430 87.914,67.376,148.973

,-,-,-,-,Cantidad de Materias Aprobadas (2),Cantidad de Materias Aprobadas (2),Cantidad de Materias Aprobadas (2),-,-
0,Institución,Total,-,-,-,None,None,-,-
1,-,-,0,1,2,3,4,5,6 o más
2,Total de las instituciones,1.122.018,383.386,171.260,139.383,110.392,90.329,69.445,157.823
3,Total Universidades Nacionales,1.086.746,373.549,165.780,135.724,107.430,87.914,67.376,148.973
4,Arturo Jauretche,3.842,1.048,500,425,351,288,232,998

9

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,-,-,-,Total,-,-,-,Ciencias Aplicadas,-,-,Ciencias Básicas,-,-,Ciencias de la Salud,-,-,Ciencias Humanas,-
1,Institución,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
2,-,EST,NI,RE,-,EGRE,EST,NI RE,EGRE,EST,NI RE,EGRE,EST,NI RE,EGRE,EST,NI RE,EGRE
3,Total de las instituciones,1.437.611,315.593,1.122.018,-,80.343,382.160,77.001 305.159,18.183,52.730,12.670 40.060,2.690,198.758,46.617 152.141,14.249,265.098,65.735 199.363,10.282
4,Total Universidades Nacionales,1.388.587,301.841,1.086.746,-,76.923,376.795,75.666 301.129,17.335,51.592,12.320 39.272,2.648,196.801,45.985 150.816,13.959,239.905,58.825 181.080,9.837

Could not parse column 07 in dataset 0
Could not parse column 13 in dataset 2

,-,-,-,Total,-,-,-,-,-,Ciencias Básicas,Ciencias Básicas,-,-,-,-,Ciencias Humanas,Ciencias Humanas,-
0,Institución,-,-,-,-,-,-,-,-,-,None,-,-,-,-,-,None,-
1,-,EST,NI,RE,-,EGRE,EST,EGRE,EST,NI,RE,EGRE,EST,EGRE,EST,NI,RE,EGRE
2,Total de las instituciones,1.437.611,315.593,1.122.018,-,80.343,382.160,18.183,52.730,12.670,40.060,2.690,198.758,14.249,265.098,65.735,199.363,10.282
3,Total Universidades Nacionales,1.388.587,301.841,1.086.746,-,76.923,376.795,17.335,51.592,12.320,39.272,2.648,196.801,13.959,239.905,58.825,181.080,9.837
4,Arturo Jauretche,7.824,3.982,3.842,-,-,2.044,-,207,94,113,-,3.637,0,-,-,-,-

10

,0,1,2,3,4,5,6,7
0,-,-,Ciencias Sociales,-,-,Sin Rama (2),-,-
1,Institución,-,-,-,-,-,-,-
2,-,EST,NI RE,EGRE,EST,NI RE,EGRE,-
3,Total de las instituciones,530.396,108.343 422.053,34.937,8.469,5.227 3.242,-,2
4,Total Universidades Nacionales,515.331,104.124 411.207,33.142,8.163,4.921 3.242,-,2

,-,-,Ciencias Sociales,Ciencias Sociales,-,-,Sin Rama (2),Sin Rama (2),-,-
0,Institución,-,-,None,-,-,-,None,-,-
1,-,EST,NI,RE,EGRE,EST,NI,RE,EGRE,-
2,Total de las instituciones,530.396,108.343,422.053,34.937,8.469,5.227,3.242,-,2
3,Total Universidades Nacionales,515.331,104.124,411.207,33.142,8.163,4.921,3.242,-,2
4,Arturo Jauretche,1.936,943,993,-,-,-,-,-,-

11

,0,1,2,3,4,5,6,7,8
0,-,Rama,-,-,-,Ciencias Aplicadas,-,-,-
1,Institución,Total Ciencias Aplicadas,Arquitectura y Diseño,-,Astronomía,Bioquímica y Farmacia Ciencias Agropecuarias,Ciencias del Suelo,-,Estadística
2,-,EST NI RE EGRE,EST NI RE EGRE,EST,NI RE EGRE,EST NI RE EGRE EST NI RE EGRE,EST NI RE EGRE,EST,NI RE EGRE
3,Total de las instituciones,382.151 77.001 305.150 18.180,94.904 15.645 79.259 4.499,569,176 393 17 26.422,4.276 22.146 1.294 34.559 6.090 28.469 1.860,6.416 1.444 4.972 236,621,89 532 14
4,Total Universidades Nacionales,376.786 75.666 301.120 17.332,94.840 15.624 79.216 4.499,569,176 393 17 26.422,4.276 22.146 1.294 34.135 5.969 28.166 1.819,6.374 1.424 4.950 228,621,89 532 14

Could not parse column 04 in dataset 2

,-,Rama,Rama,Rama,Rama,-,-,-,-,-,Ciencias Aplicadas,Ciencias Aplicadas,Ciencias Aplicadas,Ciencias Aplicadas,Ciencias Aplicadas,Ciencias Aplicadas,Ciencias Aplicadas,Ciencias Aplicadas,-,-,-,-,-,-,-,-
0,Institución,Total,Ciencias,Aplicadas,None,Arquitectura,y,Diseño,None,-,Bioquímica,y,Farmacia,Ciencias,Agropecuarias,None,None,None,Ciencias,del,Suelo,None,-,Estadística,None,None
1,-,EST,NI,RE,EGRE,EST,NI,RE,EGRE,EST,EST,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE
2,Total de las instituciones,382.151,77.001,305.150,18.180,94.904,15.645,79.259,4.499,569,4.276,22.146,1.294,34.559,6.090,28.469,1.860,None,6.416,1.444,4.972,236,621,89,532,14
3,Total Universidades Nacionales,376.786,75.666,301.120,17.332,94.840,15.624,79.216,4.499,569,4.276,22.146,1.294,34.135,5.969,28.166,1.819,None,6.374,1.424,4.950,228,621,89,532,14
4,Arturo Jauretche,2.044,1.054,990,-,-,-,-,-,-,534,283,251,-,-,-,-,-,-,-,-,-,-,-,-,-

12

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Institución,-,Industrias,-,-,Informática,-,-,Ingeniería (2),-,-,Meteorología,Otras Ciencias Aplicadas
1,-,EST,NI RE,EGRE,EST,NI RE,EGRE EST,-,NI RE,EGRE,EST,NI RE EGRE,EST NI RE EGRE
2,Total de las instituciones,50.809,12.687 38.122,3.180,64.695,14.458 50.237,2.624 100.892,-,21.356 79.536,4.303,490,168 322 10,1.774 612 1.162 143
3,Total Universidades Nacionales,49.598,12.290 37.308,2.781,62.795,14.010 48.785,2.473 100.062,-,21.232 78.830,4.169,490,168 322 10,880 408 472 28
4,Arturo Jauretche,256,132 124,-,791,364 427,- 463,-,275 188,0,-,- - -,- - - -

,Institución,-,Industrias,Industrias,-,-,Informática,Informática,-,-,-,Ingeniería (2),Ingeniería (2),-,-,Meteorología,Meteorología,Meteorología,Otras Ciencias Aplicadas,Otras Ciencias Aplicadas,Otras Ciencias Aplicadas,Otras Ciencias Aplicadas
0,-,EST,NI,RE,EGRE,EST,NI,RE,EGRE,EST,-,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE
1,Total de las instituciones,50.809,12.687,38.122,3.180,64.695,14.458,50.237,2.624,100.892,-,21.356,79.536,4.303,490,168,322,10,1.774,612,1.162,143
2,Total Universidades Nacionales,49.598,12.290,37.308,2.781,62.795,14.010,48.785,2.473,100.062,-,21.232,78.830,4.169,490,168,322,10,880,408,472,28
3,Arturo Jauretche,256,132,124,-,791,364,427,-,463,-,275,188,0,-,-,-,-,-,-,-,-
4,Avellaneda,62,62,0,0,412,71,341,0,None,-,-,-,-,-,-,-,-,-,-,-,-

13

,0,1,2,3,4,5,6,7,8,9,10,11
0,-,Rama,-,-,-,-,Ciencias Básicas,-,-,-,-,-
1,Institución,Total Ciencias Básicas,-,Biología,-,-,Física,Matemática,-,-,Química,-
2,-,EST NI RE EGRE EST,-,NI RE,EGRE,EST,NI RE EGRE EST,NI RE,EGRE,EST,NI RE,EGRE
3,Total de las instituciones,52.730 12.670 40.060 2.690 29.184,-,6.600 22.584,1.399,4.192,905 3.287 125 9.528,2.435 7.093,332 9.826 2.730 7.096,-,-,834
4,Total Universidades Nacionales,51.592 12.320 39.272 2.648 28.699,-,6.446 22.253,1.384,4.102,867 3.235 124 9.106,2.314 6.792,314 9.685 2.693 6.992,-,-,826

,-,Rama,Rama,Rama,Rama,Rama,-,-,-,-,-,Ciencias Básicas,Ciencias Básicas,Ciencias Básicas,Ciencias Básicas,-,-,-,-,-,-,-
0,Institución,Total,Ciencias,Básicas,None,None,-,Biología,None,-,-,Física,None,None,None,Matemática,None,-,-,Química,None,-
1,-,EST,NI,RE,EGRE,EST,-,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE
2,Total de las instituciones,52.730,12.670,40.060,2.690,29.184,-,6.600,22.584,1.399,4.192,905,3.287,125,9.528,2.435,7.093,332 9.826 2.730 7.096,-,-,None,834
3,Total Universidades Nacionales,51.592,12.320,39.272,2.648,28.699,-,6.446,22.253,1.384,4.102,867,3.235,124,9.106,2.314,6.792,314 9.685 2.693 6.992,-,-,None,826
4,Arturo Jauretche,207,94,113,-,207,-,94,113,-,-,-,-,-,-,-,-,-,-,-,-,-

14

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-,Rama,-,-,-,-,-,-,Ciencias de la Salud,-,-,-,-,-,-
1,Institución,Total Ciencias de la Salud,-,Medicina,-,-,Odontología,-,Paramédicas y Auxiliares de la Medicina Salud ...,-,Sanidad,-,-,Veterinaria,-
2,-,EST NI RE EGRE EST,-,NI RE,EGRE,EST,NI RE,EGRE,EST NI RE EGRE EST NI RE EGRE,EST,NI RE,EGRE,EST,NI RE,EGRE
3,Total de las instituciones,198.758 46.617 152.141 14.249 62.398,-,11.862 50.536,4.444,16.465,3.026 13.439,1.324,94.050 27.093 66.957 7.073 - - - -,4.378,1.067 3.311,343,21.467,3.569 17.898,1.065
4,Total Universidades Nacionales,196.801 45.985 150.816 13.959 62.398,-,11.862 50.536,4.444,16.465,3.026 13.439,1.324,92.125 26.469 65.656 6.815 - - - -,4.346,1.059 3.287,311,21.467,3.569 17.898,1.065

,-,Rama,Rama,Rama,Rama,Rama,-,-,-,-,-,-,-,-,Ciencias de la Salud,Ciencias de la Salud,Ciencias de la Salud,Ciencias de la Salud,Ciencias de la Salud,Ciencias de la Salud,Ciencias de la Salud,Ciencias de la Salud,-,-,-,-,-,-,-,-
0,Institución,Total,Ciencias,de,la,Salud,-,Medicina,None,-,-,Odontología,None,-,Paramédicas,y,Auxiliares,de,la,Medicina,Salud,Pública,-,Sanidad,None,-,-,Veterinaria,None,-
1,-,EST,NI,RE,EGRE,EST,-,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE
2,Total de las instituciones,198.758,46.617,152.141,14.249,62.398,-,11.862,50.536,4.444,16.465,3.026,13.439,1.324,94.050,27.093,66.957,7.073,-,-,-,-,4.378,1.067,3.311,343,21.467,3.569,17.898,1.065
3,Total Universidades Nacionales,196.801,45.985,150.816,13.959,62.398,-,11.862,50.536,4.444,16.465,3.026,13.439,1.324,92.125,26.469,65.656,6.815,-,-,-,-,4.346,1.059,3.287,311,21.467,3.569,17.898,1.065
4,Arturo Jauretche,3.637,1.891,1.746,-,-,-,-,-,-,-,-,-,-,3.637,1.891,1.746,-,-,-,-,-,-,-,-,-,-,-,-,-

15

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-,Rama,-,-,-,-,-,-,Ciencias Humanas,-,-,-,-,-,-
1,Institución,Total Ciencias Humanas,-,Arqueología,-,-,Artes,-,Educación,-,Filosofía,-,-,Historia,-
2,-,EST NI RE EGRE,EST,NI RE,EGRE,EST,NI RE,EGRE,EST NI RE EGRE,EST,NI RE,EGRE,EST,NI RE,EGRE
3,Total de las instituciones,265.098 65.735 199.363 10.282,480,78 402,13,52.875,14.511 38.364,1.186,72.761 20.628 52.133 3.836,8.748,1.688 7.060,184,21.061,4.938 16.123,559
4,Total Universidades Nacionales,239.905 58.825 181.080 9.837,480,78 402,13,37.281,10.391 26.890,1.029,70.296 19.859 50.437 3.718,8.594,1.652 6.942,183,20.408,4.762 15.646,544

,-,Rama,Rama,Rama,Rama,-,-,-,-,-,-,-,-,Ciencias Humanas,Ciencias Humanas,Ciencias Humanas,Ciencias Humanas,-,-,-,-,-,-,-,-
0,Institución,Total,Ciencias,Humanas,None,-,Arqueología,None,-,-,Artes,None,-,Educación,None,None,None,-,Filosofía,None,-,-,Historia,None,-
1,-,EST,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE
2,Total de las instituciones,265.098,65.735,199.363,10.282,480,78,402,13,52.875,14.511,38.364,1.186,72.761,20.628,52.133,3.836,8.748,1.688,7.060,184,21.061,4.938,16.123,559
3,Total Universidades Nacionales,239.905,58.825,181.080,9.837,480,78,402,13,37.281,10.391,26.890,1.029,70.296,19.859,50.437,3.718,8.594,1.652,6.942,183,20.408,4.762,15.646,544
4,Arturo Jauretche,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-

16

,0,1,2,3,4,5,6,7,8,9
0,Institución,-,Letras e Idiomas,-,-,Psicología,-,-,Teología,-
1,-,EST,NI RE,EGRE,EST,NI RE,EGRE,EST,NI RE,EGRE
2,Total de las instituciones,37.280,8.380 28.900,1.159,71.841,15.496 56.345,3.345,52,16 36,0
3,Total Universidades Nacionales,36.205,8.077 28.128,1.143,66.589,13.990 52.599,3.207,52,16 36,0
4,Arturo Jauretche,-,- - -,-,-,- -,-,-,- -,-

Could not parse column 02 in dataset 0

,Institución,-,-,-,Psicología,Psicología,-,-,Teología,Teología,-
0,-,EST,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE
1,Total de las instituciones,37.280,1.159,71.841,15.496,56.345,3.345,52,16,36,0
2,Total Universidades Nacionales,36.205,1.143,66.589,13.990,52.599,3.207,52,16,36,0
3,Arturo Jauretche,-,-,-,-,-,-,-,-,-,-
4,Avellaneda,-,-,-,-,-,-,-,-,-,-

17

,0,1,2,3,4,5,6,7,8,9,10
0,-,Rama,-,-,-,-,Ciencias Sociales,-,-,-,-
1,Institución,Total Ciencias Sociales,"Ciencias Políticas, Relaciones Internacionales...",-,Ciencias de la Información y de la Comunicación,-,Demografía y Geografía,-,Derecho,-,Economía y Administración
2,-,EST NI RE EGRE,EST NI RE EGRE,-,EST NI RE EGRE,-,EST NI RE EGRE,EST,NI RE,EGRE,EST NI RE EGRE
3,Total de las instituciones,530.396 108.343 422.053 34.937,13.993 3.332 10.661 4.686,-,50.960 10.193 40.767 2.264,-,19.282 5.189 14.093 806,137.759,25.230 112.529,11.498,237.138 47.682 189.456 12.223
4,Total Universidades Nacionales,515.331 104.124 411.207 33.142,13.590 3.174 10.416 4.492,-,50.198 9.985 40.213 2.212,-,18.491 4.938 13.553 778,136.718,25.189 111.529,11.392,231.144 45.875 185.269 11.321

Could not parse column 02 in dataset 1
Could not parse column 04 in dataset 2

,-,Rama,Rama,Rama,Rama,-,-,Ciencias Sociales,Ciencias Sociales,Ciencias Sociales,Ciencias Sociales,-,-,-,-,-,-,-,-
0,Institución,Total,Ciencias,Sociales,None,-,-,Demografía,y,Geografía,None,-,Derecho,None,-,Economía,y,Administración,None
1,-,EST,NI,RE,EGRE,-,-,EST,NI,RE,EGRE,EST,NI,RE,EGRE,EST,NI,RE,EGRE
2,Total de las instituciones,530.396,108.343,422.053,34.937,-,-,19.282,5.189,14.093,806,137.759,25.230,112.529,11.498,237.138,47.682,189.456,12.223
3,Total Universidades Nacionales,515.331,104.124,411.207,33.142,-,-,18.491,4.938,13.553,778,136.718,25.189,111.529,11.392,231.144,45.875,185.269,11.321
4,Arturo Jauretche,1.936,943,993,-,-,-,-,-,-,-,-,-,-,-,1.081,540,541,-

18

,0,1,2,3,4,5
0,Institución,Otras Ciencias Sociales,Relaciones Institucionales y Humanas,-,"Sociología, Antropología y Servicio Social",-
1,-,EST NI RE EGRE,EST NI RE,EGRE,EST NI RE,EGRE
2,Total de las instituciones,8.322 2.753 5.569 558,17.388 3.238 14.150,998,45.554 10.726 34.828,1.904
3,Total Universidades Nacionales,3.991 1.244 2.747 218,15.910 3.037 12.873,847,45.289 10.682 34.607,1.882
4,Arturo Jauretche,163 106 57 -,692 297 395,-,- - -,-

Could not parse column 02 in dataset 1

,Institución,Otras Ciencias Sociales,Otras Ciencias Sociales,Otras Ciencias Sociales,Otras Ciencias Sociales,-,-,"Sociología, Antropología y Servicio Social","Sociología, Antropología y Servicio Social","Sociología, Antropología y Servicio Social",-
0,-,EST,NI,RE,EGRE,EGRE,None,EST,NI,RE,EGRE
1,Total de las instituciones,8.322,2.753,5.569,558,998,None,45.554,10.726,34.828,1.904
2,Total Universidades Nacionales,3.991,1.244,2.747,218,847,None,45.289,10.682,34.607,1.882
3,Arturo Jauretche,163,106,57,-,-,None,-,-,-,-
4,Avellaneda,-,-,-,-,-,-,297,266,31,0